@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

/* .App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-position: center;
  background-size: cover;
} */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hoverable-element {
  background-color: #e0e0e0; /* Set your default background color */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.hoverable-element:hover {
  background-color: #a0a0a0; /* Set the background color on hover */
}
